  h1{
      color: darkred
  }

  .results {    
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }



.searchBox{
  margin: 10px 20px;
}



/* @keyframes linearMove{
  0% { }  
  100% { }
} */

.searchBox input{
  border-radius: 50px;
  border: 2px solid grey;

}

.searchBox input:focus{
  border: 2px solid rgb(215, 175, 149);
  background-color: rgb(83, 80, 91)
}




.results > div{
    text-align: center;
}

.tag{ padding: 0 2rem;}

.none{
  display: none;
}

.webPlayerWrapper{
position: sticky;
bottom: 0;
background-color: rgba(1, 1, 1, 0.75);
padding: 10px 5px;
}


.ablum-organise{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #3a3a3a;
  box-shadow: 0 0 6px 1px #d8af93;}

.ablum-organise > div{
  flex: 45%;
}

.album-filter-wrapper{
  color: grey;
  padding: 10px 20px;
}



.album-sort-wrapper{
  padding: 10px 20px;  
  color: grey;

}


