@media (min-width: 200px) {
    .searchResult {
        display: grid;
        justify-content: center;
        /* flex-wrap: wrap; */
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}

@media (min-width: 400px) {
    .searchResult {
        display: grid;
        justify-content: center;
        /* flex-wrap: wrap; */
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
}

@media (min-width: 1100px) {
    .searchResult {
        display: grid;
        justify-content: center;
        /* flex-wrap: wrap; */
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
}

.searchResult .selectablable-item{
    margin: 10px 10px;

}

.album-item{
    display: flex;
    background-color: #232323;
    flex-direction: row;
    justify-items: auto;
    align-items: center;
    border-radius: 25%;
}

.searchResult-albumCover{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.searchresult-album {
    position: relative;
}

.ablumDetails-wrapper{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 5px;
    border-radius: 10%;
}

.ablumDetails-wrapper:hover {
    background-color:  rgba(0,0,0,0.8);
}

.flex-center {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* .album-details{
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
padding: 0 10px;
} */

.expand{
    grid-column: span 3;
    grid-row: span 2;
    height: auto;
 }


 .searchResults-albumDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(215, 175, 149);
    text-align: -webkit-center;
 }

#album-name{font-weight: bold}
#album-label{font-style: italic; display: flex}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-exit {
    opacity: 1;
  }
  
  .example-exit.example-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }


  .favourite::before{
      content: '♥';
      color: red;
  }

